/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNAseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

manifest {

    name            = 'RNAseq'
    author          = 'Lipinski Boris'
    homePage        = 'https://github.com/Lipinski-B/RNAseq'
    description     = 'RNA sequencing analysis pipeline.'
    mainScript      = 'RNAseq.nf'
    version         = 'v1.0'
    defaultBranch = 'main'

}

import java.text.SimpleDateFormat

profiles {

  debug { process.beforeScript = 'echo $HOSTNAME' }

  conda { 
    process.conda          = "$baseDir/environment.yml" 
  }

  docker { 
    docker.enabled         = true
    process.container      = 'lipinskiboris/rnaseq:latest'
    //process.container      = 'rnaseq:1.2'
  }

}

process {
    shell =  ['/bin/bash','-o','pipefail']
}

params {

    // -- Path :
    date     = new SimpleDateFormat("yyyy-MM-dd hh:mm:ss ").format(new java.util.Date())
    input    = ""
    output   = ""

    // -- Option :
    help     = null
    protocol = "PE" 
    metadata = "${baseDir}/dependencies/metadata.${params.protocol}.csv"
    cpu = 2

}
