executor {
    name                 = 'slurm'
    queueSize            = 200
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
}

process {

    // Server
    executor            = 'slurm'
    queue               = 'dev'
    //clusterOptions      = '--exclude=BI0UAPPP009'
    //clusterOptions      = '--nodelist=FR0UAPPP001'
    
}

